.cd_usuario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f0f0f0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
}

.cd_usuario-title {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
}

.cd_usuario-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.cd_usuario-input-group {
    margin-bottom: 20px;
}

.cd_usuario-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
}

.cd_usuario-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
}

.cd_usuario-button {
    margin: 5%;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}
.cd_usuario-button-voltar {
    margin-left: 5%;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border: solid 2px;
    border-radius: 6px;
    background-color:#007bff;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}
/* .cd_usuario-button-alterar {
    margin-left: 5%;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: #0004ff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}
.cd_usuario-button-excluir {
    margin-left: 5%;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: #ff0000;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
} */


