.cd_oferta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f0f0f0;
    padding: 20px;
}

.cd_oferta-title {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
}

.cd_oferta-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.cd_oferta-input-group {
    margin-bottom: 20px;
}

.cd_oferta-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
}

.cd_oferta-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
}

.cd_oferta-button {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}
.cd_oferta-button-voltar {
    margin-left: 5%;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: #f44336;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Remove o sublinhado do link */
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}
