/* src/pages/estoque/estoque.css */
.estoque-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
}

.estoque-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.estoque-summary {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.estoque-list {
    list-style-type: none;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.estoque-item {
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: azure;
    position: relative;
    transition: background-color 0.1s, box-shadow 0.1s;
}

.estoque-item:last-child {
    border-bottom: none;
}
.estoque-item:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(218, 218, 218);
    cursor: pointer;
    transition: background-color 0.1s, box-shadow 0.1s;
}