/* src/components/ListaProduto/lista_produto.css */

.lista_produto-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
}

.lista_produto-title {
    font-size: 24px;
    margin-bottom: 20px;
    
}

.lista_produto-list {
    list-style-type: none;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista_produto-item {
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: azure;
    position: relative;
    transition: background-color 0.1s, box-shadow 0.1s;
}




.lista_produto-actions {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.lista_produto-actions a {
    text-decoration: none;
    color: inherit;
}
/* src/components/lista_produto/lista_produto.css */
.lista_produto-add-button {
    margin: 20px 0;
    text-align:start;
}

.cadastro-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #008600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-button:hover {
    background-color: #4CAF50;
}
.lista_produto-item:hover {
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(218, 218, 218);
    cursor: pointer;
    transition: background-color 0.1s, box-shadow 0.1s;
}

