/* src/components/ListaUsuario/lista_usuario.css */
.lista_usuario-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.lista_usuario-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.lista_usuario-list {
    list-style-type: none;
    padding: 0;
}

.lista_usuario-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.lista_usuario-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
/* src/components/lista_usuario/lista_usuario.css */
.lista_usuario-add-button {
    margin: 20px 0;
    text-align:start;
}

.cadastro-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #008600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-button:hover {
    background-color: #4CAF50;
}

